openapi: 3.0.4
info:
  title: Acore API
  description: A readonly API for [Azerothcore](https://www.azerothcore.org/) servers.
  version: 0.0.1
  license:
    name: MIT
    url: https://opensource.org/license/mit

servers:
  - url: http://{server}:{port}/api
    description: The base server template
    variables:
      server:
        enum: [ localhost ]
        default: localhost
        description: The name of the server
      port:
        enum: [ "8080" ]
        default: "8080"
        description: The port of the server

tags:
  - name: Character
    description: Access character information
  - name: Item
    description: Access item information
  - name: Item Template
    description: Access item template information
  - name: Spell
    description: Access spell information

paths:
  /character:
    get:
      tags: [ Character ]
      summary: Returns all characters
      operationId: getCharacters
      responses:
        "200":
          description: A JSON array of characters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Characters"
  /character/{characterId}:
    get:
      tags: [ Character ]
      summary: Returns a character
      operationId: getCharacter
      parameters:
        - $ref: "#/components/parameters/characterId"
      responses:
        "200":
          description: A JSON object of the character
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Character"
  /character/{characterId}/item:
    get:
      tags: [ Character, Item ]
      summary: Returns all items owned by a character
      operationId: getItemsForCharacter
      parameters:
        - $ref: "#/components/parameters/characterId"
      responses:
        "200":
          description: A JSON array of items
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items"
  /character/{characterId}/spell:
    get:
      tags: [ Character, Spell ]
      summary: Returns all spells owned by a character
      operationId: getSpellsForCharacter
      parameters:
        - $ref: "#/components/parameters/characterId"
      responses:
        "200":
          description: A JSON array of spells
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spells"
  /character/{characterId}/spell/{spellId}:
    get:
      tags: [ Character, Spell ]
      summary: Returns a spell from the context of the specified character
      operationId: getSpellForCharacter
      parameters:
        - $ref: "#/components/parameters/characterId"
        - $ref: "#/components/parameters/spellId"
      responses:
        "200":
          description: A JSON object of the spell
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spell"
  /item:
    get:
      tags: [ Item ]
      summary: Returns all items
      operationId: getItems
      responses:
        "200":
          description: A JSON array of items
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items"
  /item/{itemId}:
    get:
      tags: [ Item ]
      summary: Returns an item
      operationId: getItem
      parameters:
        - $ref: "#/components/parameters/itemId"
      responses:
        "200":
          description: A JSON object of the item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
  /item-template:
    get:
      tags: [ Item Template ]
      summary: Returns all item templates
      operationId: getItemTemplates
      responses:
        "200":
          description: A JSON array of item templates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemTemplates"
  /item-template/{itemTemplateId}:
    get:
      tags: [ Item Template ]
      summary: Returns an item template
      operationId: getItemTemplate
      parameters:
        - $ref: "#/components/parameters/itemTemplateId"
      responses:
        "200":
          description: A JSON object of the item template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemTemplate"
  /spell:
    get:
      tags: [ Spell ]
      summary: Returns all spells or a subset based on the provided criteria
      operationId: getSpells
      parameters:
        - name: searchField
          in: query
          description: The field to search on
          schema:
            type: string
            enum:
              - name
              - description
        - name: searchQuery
          in: query
          description: The value to search for
          schema:
            type: string
      responses:
        "200":
          description: A JSON array of spells
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spells"
  /spell/{spellId}:
    get:
      tags: [ Spell ]
      summary: Returns a spell
      operationId: getSpell
      parameters:
        - $ref: "#/components/parameters/spellId"
      responses:
        "200":
          description: A JSON object of the spell
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spell"

components:
  schemas:
    Character:
      type: object
      required:
        - id
        - accountId
        - name
        - race
        - characterClass
        - gender
        - level
        - xp
        - xpForNextLevel
        - money
        - online
        - totalTime
        - zone
        - iconUrl
        - charClassIconUrl
      properties:
        id:
          type: integer
          format: int64
          nullable: false
        accountId:
          type: integer
          format: int64
          nullable: false
        name:
          type: string
          nullable: false
        race:
          $ref: "#/components/schemas/Race"
        characterClass:
          $ref: "#/components/schemas/CharacterClass"
        gender:
          $ref: "#/components/schemas/Gender"
        level:
          type: integer
          format: int32
          nullable: false
        xp:
          type: integer
          format: int64
          nullable: false
        xpForNextLevel:
          type: integer
          format: int64
          nullable: false
        money:
          type: integer
          format: int64
          nullable: false
        online:
          type: boolean
          nullable: false
        totalTime:
          type: integer
          format: int64
          nullable: false
        zone:
          type: string
          nullable: false
        iconUrl:
          type: string
          format: uri
          nullable: false
        charClassIconUrl:
          type: string
          format: uri
          nullable: false
    Characters:
      type: array
      items:
        $ref: "#/components/schemas/Character"
    Race:
      type: string
      nullable: false
      enum:
        - HUMAN
        - ORC
        - DWARF
        - NIGHT_ELF
        - UNDEAD
        - TAUREN
        - GNOME
        - TROLL
        - BLOOD_ELF
        - DRANEI
    CharacterClass:
      type: string
      nullable: false
      enum:
        - WARRIOR
        - PALADIN
        - HUNTER
        - ROGUE
        - PRIEST
        - DEATH_KNIGHT
        - SHAMAN
        - MAGE
        - WARLOCK
        - DRUID
    Gender:
      type: string
      nullable: false
      enum:
        - MALE
        - FEMALE
    Item:
      type: object
      required:
        - id
        - itemTemplateId
        - name
        - description
        - iconUrl
        - ownerId
        - ownerName
        - count
      properties:
        id:
          type: integer
          format: int64
          nullable: false
        itemTemplateId:
          type: integer
          format: int64
          nullable: false
        name:
          type: string
          nullable: false
        description:
          type: string
          nullable: false
        iconUrl:
          type: string
          format: uri
          nullable: false
        ownerId:
          type: integer
          format: int64
          nullable: false
        ownerName:
          type: string
          nullable: false
        count:
          type: integer
          format: int64
          nullable: false
    Items:
      type: array
      items:
        $ref: "#/components/schemas/Item"
    ItemTemplate:
      type: object
      required:
        - id
        - name
        - description
        - iconUrl
      properties:
        id:
          type: integer
          format: int64
          nullable: false
        name:
          type: string
          nullable: false
        description:
          type: string
          nullable: false
        iconUrl:
          type: string
          format: uri
          nullable: false
    ItemTemplates:
      type: array
      items:
        $ref: "#/components/schemas/ItemTemplate"
    Spell:
      type: object
      required:
        - id
        - name
        - subtext
        - description
        - iconUrl
      properties:
        id:
          type: integer
          format: int64
          nullable: false
        name:
          type: string
          nullable: false
        subtext:
          type: string
          nullable: false
        description:
          type: string
          nullable: false
        iconUrl:
          type: string
          format: uri
          nullable: false
    Spells:
      type: array
      items:
        $ref: "#/components/schemas/Spell"

  parameters:
    characterId:
      name: characterId
      in: path
      description: The id of the character
      required: true
      schema:
        type: integer
        format: int64
        nullable: false
    spellId:
      name: spellId
      in: path
      description: The id of the spell
      required: true
      schema:
        type: integer
        format: int64
        nullable: false
    itemId:
      name: itemId
      in: path
      description: The id of the item instance
      required: true
      schema:
        type: integer
        format: int64
        nullable: false
    itemTemplateId:
      name: itemTemplateId
      in: path
      description: The id of the item template
      required: true
      schema:
        type: integer
        format: int64
        nullable: false
